.box-con{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
@media(max-width:1280px){
  .box-con{
      margin-top: 30px;
      display: flex;
  flex-wrap: wrap;
  } 
}
@media(max-width:500px){
  .box-con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  } 
}
